header.nav.has-shadow
  .nav-left
    a.nav-item.is-brand href=root_path
      img src=image_url("logo.png") alt="Viatges Cerdanyola Logo"
  .nav-center
    =nav_link 'Buscar cliente', root_path, params, true
    =nav_link 'Lista clientes(temporal)', travelers_path, params, true
    =nav_link 'Ficha cliente', new_traveler_path, params, false
    =nav_link 'Billetes Renfe', '#', params, false
    =nav_link 'Petición reservas', '#', params, false
    =nav_link 'Viajes agencia', '#', params, false
  .nav-right
    =nav_link 'Configuración', '#', params, false
    =nav_link 'Ayuda', '#', params, false
