.columns
  .column.is-10.is-offset-1
    nav.navbar
      .navbar-left
        .navbar-item
          p.is-5
            | <strong>Viatges Cerdanyola (logo)</strong>
        p.navbar-item <a>Buscar cliente</a>
        p.navbar-item <a>Ficha cliente</a>
        p.navbar-item <a>Billetes Renfe</a>
        p.navbar-item <a>Petición reservas</a>
        p.navbar-item <a>Viajes agencia</a>
      .navbar-right
        p.navbar-item <a>Configuración</a>
        p.navbar-item <a>Ayuda</a>